<h1>Update Shelter</h1>

<%= render partial: 'form', locals: {
    path: "/shelters/#{@shelter.id}",
    method: :patch,
    button_text: 'Update Shelter',
    shelter_name: @shelter.name,
    shelter_address: @shelter.address,
    shelter_city: @shelter.city,
    shelter_state: @shelter.state,
    shelter_zip: @shelter.zip
} %>




