<h1>Add a Shelter</h1>

<%= render partial: 'form', locals: {
    path: "/shelters",
    method: :post,
    button_text: 'Add Shelter',
    shelter_name: nil,
    shelter_address: nil,
    shelter_city: nil,
    shelter_state: nil,
    shelter_zip: nil
} %>

