/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: Arial, Helvetica, sans-sans-serif;
  padding: 20px;
  background-color: #EFEEEE;
}

 img {
   width:100%;
   max-width: 400px;
   height:100;
   max-height: 200px;
   border-radius: 10px;
   padding: 5px;
 }

nav {
  background: #98AEB3;
  height:25px;
  text-align: right;
  vertical-align: middle;
  border-radius: 4px;
}

nav > a {
  padding: 3px;
}

nav > p {
  color: white;
}

 a:link {
   text-decoration: none;
   color: #98AEB3;
 }

 a:visited {
   color: #99917A;
 }

 a:hover {
   color: hotpink;
 }

 #nav-link {
   color: white;
 }

 .button {
   background-color: #999999;
   border-radius: 8px;
   font-size: 16px;
   text-align: center;
   margin: 4px 2px;
   display: inline-block;
   color: white;
   text-shadow: 3px 2px gray;
 }

 a.shelter-name {
   font-size: 25px;
 }

 .pet-grid {
   padding: 20px;
   display: grid;
   grid-gap: 2em;
   background-color: #EFEEEE;
   grid-template-columns: auto auto auto;
 }

 .pet-info{
   padding:20px;
   background:#DAE6E0;
   border-radius: 8px;
   max-width: 250px;
 }

 .flash-notice{
   color:red;
   border-color:red;
 }

 .flash-success{
   color:green;
   border:green;
 }

 p.flash-notice{
   border-style: outset;
   border-color: red;
   padding: 10px;
   border-radius: 8px;
   background-color: #FFCCCB;
 }

 p.flash-success{
   border-style: outset;
   border-color: green;
   padding: 10px;
   border-radius: 8px;
   background-color: #BFF7df;
 }

 .review-grid {
   display: grid;
   grid-gap: 2em;
   background-color: #EFEEEE;
   grid-template-columns: 1;
 }

 .review-info{
   padding:20px;
   background:#DAE6E0;
   border-radius: 8px;
   max-width: 100%;
 }
