<h1>Edit Review</h1>

<%= render partial: 'form', locals: {
    path: "/shelters/#{@shelter_id}/reviews/#{@review.id}",
    method: :patch,
    button_text: 'Update Review',
    review_title: @review.title,
    review_rating: @review.rating,
    review_content: @review.content,
    review_image: @review.image
}%>
