<h1>Add a Review</h1>

<%= render partial: 'form', locals: {
    path: "/shelters/#{@shelter_id}",
    method: :post,
    button_text: 'Submit Review',
    review_title: nil,
    review_rating: nil,
    review_content: nil,
    review_image: nil
} %>
